@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;400;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Mono", monospace;
}

:root {
  --main-bg-color: #313131;
  --sec-bg-color: #414141;
  --prim-color: #ffd600;
  --sec-color: #ffa800;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-bg-color);
}

h1,
h2,
h3,
p {
  color: var(--prim-color);
  text-align: center;
  margin-bottom: 2rem;
}

h1 {
  font-size: 2.5rem;
}
