@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;400;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Mono", monospace;
}

:root {
  --main-bg-color: #313131;
  --sec-bg-color: #414141;
  --prim-color: #ffd600;
  --sec-color: #ffa800;
}

#gameboard {
  position: relative;
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  grid-template-rows: repeat(20, 1fr);
  width: 100vw;
  height: 100vh;
}
.snake {
  background-color: var(--prim-color);
  width: 100%;
  height: 100%;
}
.food {
  background-color: var(--prim-color);
  width: 100%;
  height: 100%;
}
.alert,
#play-snake {
  position: absolute;
  inset: 0;
  text-align: center;
  padding: 2rem;
  font-size: 3rem;
  color: var(--prim-color);
  width: 30vw;
  height: 15vh;
  z-index: 100;
}
#menu {
  position: absolute;
  inset: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  grid-template-rows: repeat(20, 1fr);
}

#menu p {
  margin: 0;
  color: var(--prim-color);
  font-size: 1rem;
}

#meet {
  grid-column: 2 / 4;
  grid-row: 10 / 11;
}
#work {
  grid-column: 20 / 22;
  grid-row: 2 / 3;
}
#play {
  grid-column: 38 / 40;
  grid-row: 10 / 11;
}
#dream {
  grid-column: 20 / 22;
  grid-row: 20 / 21;
}
