@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;700&display=swap");

body {
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  background-color: #313131;
  font-family: "IBM Plex Mono", monospace;
}

h3,
p {
  color: #ffd600;
  padding: 20% 1rem;
  text-align: center;
}
