@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=Press+Start+2P&display=swap");

:root {
  --blue: #246eb9;
  --orange: #ff6600;
  --light: #e6e6e6;
  --dark: #282828;
  --blue-trans: #246eb9dd;
  --orange-trans: #ff6600aa;
  --light-trans: #e6e6e6aa;
  --dark-trans: #000000dd;
  --monochr-green: #33ff00;
  --font-content: "IBM Plex Mono", monospace;
  --font-header: "Press Start 2P", cursive;
}

body {
  cursor: url("../img/rect1.cur"), default;
  box-sizing: border-box;
  background-color: #313131;
  font-family: var(--font-content);
}

#mouseLoad {
  position: absolute;
}

#aboutMain h1 {
  margin-bottom: 1rem;
  text-align: center;
  color: #ffd600;
}

#aboutMenu {
  padding-top: 0rem;
}

ul li {
  border-bottom: 1px solid #ffd600;
  color: #ffd600;
  list-style: none;
  margin: 4rem 0;
  position: relative;
  text-align: left;
  font-size: 2rem;
  padding: 0;
}

.description {
  position: absolute;
  top: -100%;
  opacity: 0%;
  pointer-events: none;
  user-select: none;
}

.contact-info h2 {
  color: #ffd600;
  text-align: center;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  color: #ffd600;
}

#javascript {
  width: 100%;
  text-align: right;
  margin-right: 2rem;
}

canvas {
  position: fixed;
  z-index: 2;
  pointer-events: none;
}
